<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microline.WS.Client.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Microline.WS.Client.UI.Properties.Settings>
            <setting name="AspKey" serializeAs="String">
                <value>micpg</value>
            </setting>
            <setting name="CustomerKey" serializeAs="String">
                <value>kupac</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>bestpc</value>
            </setting>
            <setting name="Cookie" serializeAs="String">
                <value>39983830859dJFaogrSxpgIcfvfy1T</value>
            </setting>
            <setting name="ServiceEndpointAddress" serializeAs="String">
                <value>http://www.microline.hr/WebServices/MOL.asmx</value>
            </setting>
            <setting name="StorageDirectory" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
        </Microline.WS.Client.UI.Properties.Settings>
    </userSettings>
</configuration>