<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MOLSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.microline.hr/WebServices/MOL.asmx"
                binding="basicHttpBinding" bindingConfiguration="MOLSoap"
                contract="Service.MOLSoap" name="MOLSoap" />
        </client>
    </system.serviceModel>
</configuration>